body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    overflow: hidden;
    font: 11pt arial, sans-serif;
}

/*
 * emphasized text is green
 */
em {
    font-style:normal;
    color:#44cc33;
}

/*
 * the main MapRoulette control panel
 */
div.controlpanel {
    border: 1px solid #aaa;
    z-index:15;
    position:absolute;
    right:10px;
    top:10px;
    width:250px;
    padding: 5px;
    text-align: center;
    background-color:#fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.notifications {
    z-index:15;
    position:absolute;
    left:50px;
    top:10px;
    width:250px;
}


/*
 * the MapRoulette title
 */
div.title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

/*
 * the buttons
 */
div.button {
    background-color: #66CCFF;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 4px;
    padding: 4px;
}

div#fixed.button {
    background-color: rgb(120,230,100);
    border-width: 2px;
    font-weight: bold;
}

/*
 * the button hover
 */
div.button:hover {
    background-color: #666666 !important;
    color: #FFFFFF !important;
    cursor: pointer;
}

div#user {
    font-size: smaller;
    color: rgb(100,100,100);
}

div#challenge_title {
    font-size: bigger;
    padding: 3px;
}

div#challenge_description {
    font-style: italic;
    font-size: smaller;
}

div#stats {
    font-size: x-small;
    color: rgb(100,100,100);
}

div.donedialog {
    position:absolute;
    display: none;
    width: 30%;
    left: 35%;
    top: 20%;
    border: 1px solid #aaa;
    z-index:15;
    padding: 5px;
    text-align: center;
    background-color:#fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*
 * the key 'icons'
 */
span.key {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    margin: 0 6px;
    padding: 2px;
    text-align: center;
    width: 14px;
}
