/* the main container and global styles */
body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    overflow: hidden;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 11pt;
}

/* emphasized text */
em {
    font-style:italic;
}

/* the main MapRoulette control panel */
div#controlpanel {
    z-index:15;
    position:absolute;
    right:10px;
    top:10px;
    width:250px;
    padding: 5px;
    text-align: center;
    background-color:rgba(255,255,255,0.8);
}

/* The announcement */
div#announce:not(:empty) {
    z-index: 5;
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height: 40px;
    padding-top: 20px;
    background-color: rgba(255,255,0,0.5);
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
}

/* the notifications container */
.notification {
    z-index:15;
    position:absolute;
    left:50px;
    top:10px;
    width:30%;
    font-size:12px;
    opacity: 0.9!important;
    padding: 10px!important;
}

.toast-info {
    background-color: #fff!important;
    color: #000!important;
}

/* the MapRoulette title */
div.title {
}

/* challenge container in list */
.challengeBox {
    background-color: rgba(255,255,255,1);
    color: #000000;
    margin: 4px;
    padding: 4px;
}

.challengeBox .title {
    font-size:20px;
}

.difficultyBadge .d1 {
    border: 1px solid #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #6d6;
}

.difficultyBadge .d2 {
    border: 1px solid #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #dd6;
}

.difficultyBadge .d3 {
    border: 1px solid #fff;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #f60;
}

/* all buttons */
div.button {
    background-color: rgba(255,255,255,1);
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 4px;
    padding: 4px;
}

/* the 'fixed' button */
div#fixed.button {
    background-color: rgba(120,230,100,1);
    border-width: 2px;
    font-weight: bold;
}

/* cancel style buttons */
div.button.cancel {
    background-color: rgba(240,240,240,1);
    font-weight: normal;
}

/* tiny style buttons */
div.button.tiny {
    font-weight: normal;
    font-size: 11px;
    padding: 0px;
    background-color: rgba(255,255,255,1);
}

/* the button hover */
div.button:hover {
    opacity: 0.8 !important;
    filter: alpha(opacity=50) !important;
    cursor: pointer;
}

/* user display name */
div#user {
    font-size: smaller;
    color: rgba(100,100,100,1);
}

/* the challenge title */
div#challenge_title {
    font-size: bigger;
    padding: 3px;
}

/* the blurb for the challenge */
div#challenge_blurb {
    font-style: italic;
    font-size: smaller;
}

/* the little stats section */
div.smallmsg {
    font-size: x-small;
    color: rgba(100,100,100,1);
}

/* the dialog presented after clicking 'edit' */
div#dialog {
    position:absolute;
    display: none;
    width: 30%;
    left: 35%;
    top: 20%;
    z-index:15;
    padding: 5px;
    text-align: center;
    background-color:rgba(255,255,255,0.6);
    max-height: 65%;
    overflow-y:auto;
}

/* the key 'icons' */
span.key {
    border: 1px solid rgba(100,100,100,1);
    color: #000000;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    margin: 0 6px;
    padding: 2px;
    text-align: center;
    width: 14px;
    border-radius:5px;
}

/* hide the challenge menu for now while the backend is not implemented. */
#challengemenu {
    display: block;
}

td.challengetitle {
    font-size: 20px;
    font-weight: bold;
}

td.hidden {
    display: none;
}

table.stats {
    padding: 4px;
}

/* react transitions */

.dialog-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.dialog-enter.dialog-enter-active {
  opacity: 1;
}

.dialog-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.dialog-leave.example-leave-active {
  opacity: 0.01;
}
