/* the main container and global styles */
body, #map {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0px;
    overflow: hidden;
    font: 11pt arial, sans-serif;
}

/* emphasized text */
em {
    font-style:italic;
    /*color:#44cc33;*/
}

/* the main MapRoulette control panel */
div#controlpanel {
    border: 1px solid #aaa;
    z-index:15;
    position:absolute;
    right:10px;
    top:10px;
    width:250px;
    padding: 5px;
    text-align: center;
    background-color:#fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    diplay: none;
}

/* the notifications container */
div.notifications {
    z-index:15;
    position:absolute;
    left:50px;
    top:10px;
    width:30%;
}


/* the MapRoulette title */
div.title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

/* challenge container in list */
.challengeBox {
    background-color: rgb(220,220,220);
    border: 1px solid #000000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000000;
    margin: 4px;
    padding: 4px;
}

.challengeBox .title {
    font-size:20px;
}

.difficultyBadge .d1 {
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #6d6;
}

.difficultyBadge .d2 {
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #dd6;
}

.difficultyBadge .d3 {
    border: 1px solid #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
    padding: 2px;
    background-color: #f60;
}

/* all buttons */
div.button {
    background-color: #66CCFF;
    border: 1px solid #000000;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 4px;
    padding: 4px;
}

/* the 'fixed' button */
div#fixed.button {
    background-color: rgb(120,230,100);
    border-width: 2px;
    font-weight: bold;
}

/* cancel style buttons */
div.button.cancel {
    background-color: rgb(240,240,240);
    font-weight: normal;
}

/* tiny style buttons */
div.button.tiny {
    font-weight: normal;
    font-size: 11px;
    padding: 0px;
    border: 1px solid rgb(100,100,100);
    background-color: rgb(200,200,200);
}

/* the button hover */
div.button:hover {
    opacity: 0.8 !important;
    filter: alpha(opacity=50) !important;
    cursor: pointer;
}

/* user display name */
div#user {
    font-size: smaller;
    color: rgb(100,100,100);
}

/* the challenge title */
div#challenge_title {
    font-size: bigger;
    padding: 3px;
}

/* the blurb for the challenge */
div#challenge_blurb {
    font-style: italic;
    font-size: smaller;
}

/* the little stats section */
div#stats {
    font-size: x-small;
    color: rgb(100,100,100);
}

/* the dialog presented after clicking 'edit' */
div#dialog {
    position:absolute;
    display: none;
    width: 30%;
    left: 35%;
    top: 20%;
    border: 1px solid #aaa;
    z-index:15;
    padding: 5px;
    text-align: center;
    background-color:#fff;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    max-height: 65%;
    overflow-y:auto;
}

/* the key 'icons' */
span.key {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 3px;
    color: #000000;
    display: inline-block;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
    margin: 0 6px;
    padding: 2px;
    text-align: center;
    width: 14px;
}

/* hide the challenge menu for now while the backend is not implemented. */
#challengemenu {
    display: block;
}

td.challengetitle {
    font-size: 20px;
    font-weight: bold;
}

td.hidden {
    display: none;
}

table.stats {
    padding: 4px;
}
