.\#*
\#*\#
*.pyc
*.ini
*.conf
*.log
*.swp
sessiondata/*
build/
*.cfg
.project
.pydev*
deploy_templates/*
deploy_files/*
examples/responses.json
maproulette/static/js/maproulette.js
maproulette/static/js/.module-cache/*
maproulette/static/bower_components/*
responses.json
