.\#*
\#*\#
*.pyc
*.ini
*.conf
*.log
*.swp
sessiondata/
build/
*.cfg
.project
.pydev*
deploy_templates/
deploy_files/
examples/responses.json
maproulette/static/js/maproulette.js
.module-cache/
bower_components/
responses.json
migrations/
.idea/
.DS_Store