CoffeeScript==1.0.5
Fabric==1.5.3
Flask==0.9
Flask-Coffee==0.3
Flask-KVSession==0.3.2
Flask-OAuth==0.12
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Flask-WTF==0.8.3
GeoAlchemy2==0.2
Jinja2==2.6
Markdown==2.2.1
PyExecJS==1.0.4
SQLAlchemy==0.8.0
Shapely==1.2.17
WTForms==1.0.3
Werkzeug==0.8.3
argparse==1.2.1
distribute==0.6.24
geojson==1.0.1
httplib2==0.8
itsdangerous==0.17
logilab-astng==0.24.2
logilab-common==0.59.0
meld3==0.6.10
mongoengine==0.7.9
oauth2==1.5.211
paramiko==1.9.0
psycopg2==2.5
pycrypto==2.6
requests==1.1.0
simplejson==3.1.2
simplekv==0.5
supervisor==3.0b1
wsgiref==0.1.2
