CoffeeScript==1.0.5
Flask==0.9
Flask-Coffee==0.3
Flask-KVSession==0.3.2
Flask-OAuth==0.12
Flask-SQLAlchemy==0.16
Flask-Script==0.5.3
Flask-WTF==0.8.3
GeoAlchemy2==0.2
Jinja2==2.6
SQLAlchemy==0.8.0
Shapely==1.2.17
psycopg2==2.5
simplejson==3.1.2
simplekv==0.5
wsgiref==0.1.2
