# Our MapRoulette database connection string, see:
# http://docs.sqlalchemy.org/en/rel_0_8/core/engines.html
SQLALCHEMY_DATABASE_URI = "postgresql://osm:osm@localhost/maproulette"
# The OAuth configuration paramters for OSM.
# The example key and secret point to the MapRoulette application
# registered at http://api06.dev.openstreetmap.org/api/0.6/ 
# This cannot be used in production.
OSM = {
    'base_url': 'http://api06.dev.openstreetmap.org/api/0.6/',
    'request_token_url': 'http://api06.dev.openstreetmap.org/oauth/request_token',
    'access_token_url': 'http://api06.dev.openstreetmap.org/oauth/access_token',
    'authorize_url': 'http://api06.dev.openstreetmap.org/oauth/authorize',
    'consumer_key': 'dFdzJzU4rMaemzZXdhCR8HOixu21fT9B726uyzU8',
    'consumer_secret': 'BhXKPNGDJHBVhkPfwyP5VPIHSDpSQXe63vwaTJ5l'
}
