body {
    height:100%;
    font:16px/20px bold 'Helvetica Neue',arial,sans-serif;
}

.xhair {
    cursor:crosshair;
}

#msgBox {
    background-color:#3af;
    color:black;
    border: 1px solid #03c;
    display:none;
    z-index:15;
    text-align:center;
    position:absolute;
    left:30%;
    right:30%;
    max-height:90%;
    padding:4px;
    overflow:auto;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.8;
}

#dlgBox {
    display:none;
    z-index:15;
    text-align:center;
    position:absolute;
    left:30%;
    right:30%;
    top:30%;
    padding:8px;
    overflow:auto;
    background-color:#fff;
    opacity:0.8;
    border:1px solid #666;
    -moz-border-radius: 4px;
    border-radius: 4px;
    opacity: 0.8;
}

#dlgBox h1 {
    font-size:1em;
}

div.fullscreen{
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

div.banner {
    text-align:center;
    border: 1px solid #999;
    z-index:15;
    position:absolute;
    right:10px;
    width:250px;
    top:10px;
    background-color:#fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

div.content {
    padding:10px;
}

div.button {
    font-size:14px;
    line-height:20px;
    /*font-weight:bold;*/
    color:black;
    padding:4px;
    background-color:#bef;
    border-top: 1px solid #81ADC2;
    transition:background 100ms linear;
}

div.button:last-child {
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

div.button:hover {
    cursor:pointer;
    background:#6AC0EB;
}

.key {
    background:#fff;
    color: #222;
    font-size: 10px;
    padding: 0px 7px;
    font-weight: bold;
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #aaa;
    position: relative;
    z-index: 1;
    text-align: left;
    clear: both;
}

.key::after {
    content: "";
    position: absolute;
    border-radius: 2px;
    height: 10px;
    width: 100%;
    z-index: 0;
    bottom: -4px;
    left: -1px;
    border: 1px solid #aaa;
    border-top: 0;
}

div.button#about {
    background-color:white;
    font-style:italic;2.2
}

div.button#noterror {
    background-color:#ae9;
}

div.button#skip {
    background-color:#aaa;
}

div#challenge {
    font-size:10px;
}

div#challengeDetails {
    text-transform:uppercase;
}

span.#counter {
    style="font-weight:bold";
}

#announce {
    background-color:black;
    color:white;
    opacity:0.95;
    font-size:72px;
    z-index:20;
    text-align:center;
}
