<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery-cookie/jquery.cookie.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery.hotkeys/jquery.hotkeys.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/moment/min/moment.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/leaflet/dist/leaflet.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/react/react-with-addons.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="bower_components/marked/marked.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/maproulette.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/skobbler-2.0.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/leaflet/dist/leaflet.css") }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <title>MapRoulette</title>
    {% endblock %}
    {% block piwik %}
    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.maproulette.org"]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http") + "://198.58.115.35/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 1]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
        g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="http://198.58.115.35/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
    {% endblock %}
</head>
  {% block body %}
  {% endblock %}
</html>
