<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery/dist/jquery.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery.cookie/jquery.cookie.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/noty/js/noty/packaged/jquery.noty.packaged.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/jquery.hotkeys/jquery.hotkeys.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",
      filename="bower_components/moment/min/moment.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/leaflet.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/maproulette.js") }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/leaflet.css") }}" />
    <title>MapRoulette</title>
    {% endblock %}
    {% block piwik %}
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://maproulette.org/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 1]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
            g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
<noscript><p><img src="http://maproulette.org/piwik/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
    {% endblock %}
</head>
  {% block body %}
  {% endblock %}
</html>
