{% extends "base.html" %}
{% block html %}
    <head>
        <title>MapRoulette</title>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.pnotify.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/showdown.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/mr-helpers.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/maproulette.js') }}"></script>
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/style.css') }}"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/leaflet.css') }}"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/jquery.pnotify.default.css') }}" media="all"/>
        <link rel="stylesheet" type="text/css" media="all" href="{{ url_for('static', filename='css/jquery.pnotify.default.icons.css') }}"/>
        <script language="javascript" type="text/javascript">
             {% if session.osm_oauth is not defined and g.user is not defined %}
             var oauthWin = window.open('{{ url_for('oauth_authorize') }}','oauth',"height=500,width=520");
             if(!oauthWin || oauthWin.closed || typeof oauthWin.closed=='undefined') {
                 alert('You seem to have pop-up blocking enabled. Please disable pop-up blocking for the maproulette.org domain');
                 setTimeout(3000, msgClose);
             }
             {% else %}
             // we are in the oauth window and we're all done, so close the oauth window
             if (self != opener && opener != null) {
                 opener.location.reload();
                 self.close();
             }
             {% endif %}
        </script>
    </head>
    <body onload="init()">
        <div id="map" />
        <div id="msgBox" />
        <div id="dlgBox" />
        <div class="banner pad1">
            <h2>OpenStreetMap <em>MapRoulette</em></h2>
            <div>
                {%- if session.osm_oauth -%}
                logged in as {{ session.display_name }}. <a href="{{ url_for('logout') }}">log out</a>
                {%- else -%}
                not logged in. <a href="{{ url_for('oauth_authorize') }}">log in</a>
                {%- endif -%}
            </div>
            <div id="challenge">Current Challenge</div>
            <div id="challengeDetails"></div>
            <div id="stats"></div>
        </div>
    </body>
{% endblock %}
