{% extends "base.html" %}
{% block body %}
<body onload="init('map')">
<div id="mr">
<div id="controlpanel">
    <div class="title">OpenStreetMap <em>MapRoulette</em></div>
    <div id="user">
        {%- if session.get('osm_token') -%}
        <script type="text/javascript">MRManager.loggedIn = "{{ session.display_name }}";</script>
        signed in as {{ session.display_name }}. <a href="{{ url_for("logout") }}">sign out</a>
        {%- else -%}
        <script type="text/javascript">MRManager.loggedIn = false;</script>
        not signed in. <a href="{{ url_for("oauth_authorize") }}">sign in on OSM</a>
        {%- endif -%}
    </div>
    <div id="challenge_title"></div>
    <div id="challenge_blurb"></div>
    <div id="challengemenu">
        <div class="button tiny" onClick='MRManager.presentChallengeHelp()'>More help for this challenge</div>
        <div class="button tiny" onClick='MRManager.presentChallengeSelectionDialog()'>Select a different challenge</div>
        <div class="button tiny" onClick='window.open("http://metrics.maproulette.org/", "_blank")'>MapRoulette Metrics</div>
        <!--<div class="button tiny" id="preferences" onClick='MRManager.userPreferences()'>MapRoulette Options</div>-->
    </div>
    <div class="smallmsg" id="stats">This challenge has <span id="challenge_total">N/A</span> tasks, and we still need to fix <span id="challenge_unfixed">N/A</span> of them.</div>
    <div class="smallmsg" id="msg_editarea" style="display:none">
        You are working within the area you selected. The numbers above are for that area, not the entire challenge.
    </div>
    <hr />
    <div class="button" onClick='MRManager.nextTask("falsepositive")'>THIS IS NOT AN ERROR <span class=key>q</span></div>
    <div class="button" onClick='MRManager.nextTask("skipped")'>I'M NOT SURE / SKIP <span class=key>w</span></div>
    <div class="button" onClick='MRManager.openTaskInId()'>EDIT IN iD<span class=key>e</span></div>
    <div class="button" onClick='MRManager.openTaskInJosm()'>EDIT IN JOSM <span class=key>r</span></div>
</div>
<div class="notifications"></div>
<div id="dialog"></div>
<div id="map"></div>
</div>
</body>
{% endblock %}

