{% extends "base.html" %}
{% block body %}
<h1>{{ session.display_name }}</h1>
<p><a href="{{ url_for("index") }}">Back</a></p>
<h2>what we have on you (from OpenStreetMap)</h2>
<table>
    <tr>
        <td>OSM user ID
        <td>{{ session.osm_id }}
    <tr>
        <td>OSM username
        <td>{{ session.display_name }}
    <tr>
        <td>Home location
        <td>{{ session.home_location[0] }}, {{ session.home_location[1] }}
</table>
<h2>challenges you participated in</h2>
<div id="userstats"></div>
<script type="text/javascript">MRManager.displayUserStats('userstats')</script>
{% endblock %}
